<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
	<nav th:replace="fragments/fragment :: navbar-home"></nav>
		<div class="container">
			<div class="row">
				<h2>Ubah Jabatan</h2>
			</div>
			<form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
				<input type="hidden" name="id" th:value="${jabatan.id}">
				<p>
				<div class="row">
					<div class="col-lg-4">Nama</div>
					<div class="col-lg-4">
						<input type="text" name="nama" th:value="${jabatan.nama}">
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Deskripsi</div>
					<div class="col-lg-4">
						<input type="text" name="deskripsi" th:value="${jabatan.deskripsi}">
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Gaji Pokok</div>
					<div class="col-lg-4">
						<input type="number" name="gaji_pokok" th:value="${jabatan.gaji_pokok}">
					</div>
				</div> 
				<button onclick="myFunction()" type="submit">Simpan</button>
			</form>
		</div>
	</body>
	<script>
		function myFunction() {
		    alert("Jabatan telah diubah");
		}
		</script>
</html>
		