
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>

		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>

	</head>

	

	<body>
		<nav th:replace="fragments/fragment :: navbar-home"></nav>
		<h3>Ubah Pegawai</h3>
		<br>
		<form th:action="@{/pegawai/ubah}" id="pegawaiForm" th:object="${pegawai}" method="POST">
			<input type="hidden" name="nip" th:value="*{nip}"/>
			<table>
				<tr>
					<td width="200" height="50">Nama</td>
					<td><input type="text" required="required" name="nama" th:value="*{nama}"/></td>
				</tr>
				<tr>
					<td height="50">Tempat Lahir</td>
					<td><input type="text" required="required" name="tempat_lahir" th:value="*{tempat_lahir}"/></td>
				</tr>
				<tr>
					<td height="50">Tanggal Lahir</td>
					<td><input type="date" required="required" name="tanggalLahir" th:value="${tanggalLahir}"/></td>
				</tr>
				<tr>
					<td height="50">Tahun Masuk</td>
					<td><input type="text" required="required" name="tahunMasuk" th:value="*{tahunMasuk}" /></td>
				</tr>
				<tr>
				<tr>
					<td height="50">Provinsi</td>
					<td>
						<select  class="form-control" required="required" name="provinsi" id="provinsi" th:value="*{instansi.provinsi}" form="pegawaiForm">
					      <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" th:selected="${provinsi.id} == *{instansi.provinsi.id}"></option>
					    </select>
					</td>
				</tr>
				<tr>
					<td height="50">Nama Instansi</td>
					<td>
						<select class="form-control" th:value="*{instansi}" name="instansi" id="instansi" required="required"  form="pegawaiForm">
		                    <option  th:value="*{instansi.id}" selected="selected" th:text="*{instansi.nama}"></option>
		                    <option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
		                </select>
					</td>
				</tr>
					<td height="50">Jabatan</td>
					<td>
						<select class="form-control" th:value="*{instansi}" name="instansi" id="instansi" required="required"  form="pegawaiForm">
		                    <option  th:value="*{instansi.id}" selected="selected" th:text="*{instansi.nama}"></option>
		                    <option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
		                </select>
					</td>
				<tr>
					
					<td><button type="submit" name="addJabatan">Tambah Jabatan</button></td>
				</tr>
			</table>
			<br>
			<button type="submit">Submit</button>
		</form>
	</body>
	<script th:inline="javascript">
	$('#provinsi').change(
	     function() {
	         $.getJSON("/instansi/findByProvinsi", {
	             provinsiId : $(this).val(),
	             ajax : 'true'
	         }, function(data) {
	             var html = '<option value="">Pilih Instansi</option>';
	             var len = data.length;
	             for ( var i = 0; i < len; i++) {
	                 html += '<option value="' + data[i].id + '">'
	                         + data[i].nama + '</option>';
	             }
	             html += '</option>';
	             $('#instansi').html(html);
	         });
	     });
	</script>
</html>