<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
	<nav th:replace="fragments/fragment :: navbar-home"></nav>
		<h2 th:text="'Lihat Data Pegawai - '+${pegawai.nip}"></h2>
		<h3 th:text="'NIP : ' + ${pegawai.nip}"></h3>
		<h3 th:text="'Nama : ' + ${pegawai.nama}"></h3>
		<h3 th:text="'Tempat Lahir : ' + ${pegawai.tempat_lahir}"></h3>
		<h3 th:text="'Tanggal Lahir : ' + ${pegawai.tanggal_lahir}"></h3>
		<h3 th:text="'Tahun Masuk : ' + ${pegawai.tahunMasuk}"></h3>
		<h3 th:text="'Nama Instansi : ' + ${pegawai.instansi.nama} + ' - ' + ${pegawai.instansi.provinsi.nama}"></h3>
		<h3>Jabatan :</h3>
		<div th:each="jabatanPegawai : ${jabatan}">
			 <h3 th:text="' - ' + ${jabatanPegawai.jabatan.nama}"></h3>
		</div>
		<h3 th:text="'Gaji : Rp' + ${gaji}"></h3>
		<form action="/pegawai/ubah" method="get">

			<input type="hidden" name="nip" th:value="${pegawai.nip}">

			<input type="submit" value="Ubah">

		</form>
	</body>
</html>
		
		